.menu-container {
  width: 200px;
}
.menu-toggler {
  padding-left: 10px;
}
.menu {
  padding-left: 10px;
}
.menu-item {
  cursor: pointer;
  padding: 5px 0;
}
.menu-item:hover {
  text-decoration: underline;
}
