<div>
  <ul *ngFor="let tab of tabs">
    <a (click)="toggleOn(tab.name)">+</a>
    {{
      tab.name
    }}
    <ng-container *ngFor="let project of projects">
      <li class="project" *ngIf="tab.name == project.nameTab && check">
        <a (click)="toggleOn1(project.name) ">+</a>
        {{ project.name }}

        <ng-container *ngFor="let product of products">
          <li class="product" *ngIf="product.nameProject == project.name && check1">
            {{ product.name }}
          </li>
        </ng-container>
      </li>
    </ng-container>
  </ul>
</div>
>
