<div class="menu-container">
  <div class="menu-toggler" (click)="togglerMenu()">Menu</div>
  <div class="menu" *ngIf="isMenuOpened">
    <div class="menu-item" (click)="clickBundle()">Bundle</div>
    <div class="menu-item" (click)="clickBundleCategory()">Bundle category</div>
    <div class="menu-item" (click)="togglerMenu1()">
      About
      <div class="menu" *ngIf="isMenuOpened1">
        <div class="menu-item">Other 1</div>
        <div class="menu-item">Other 2</div>
      </div>
    </div>
  </div>
</div>

<span *ngIf="accessBundle; then bundle"> </span>
<ng-template #bundle>
  <app-bundle> </app-bundle>
</ng-template>
<span *ngIf="accessBundleCategory; then bundleCategory"> </span>
<ng-template #bundleCategory>
  <app-bundlecategory></app-bundlecategory>
</ng-template>
<button (click)="signout()">Sign Out</button>
