<div class="login">
  <span *ngIf="!accessToken; then Error"> </span>
  <ng-template #Error
    ><h3 class="mess">{{ mess }}</h3>
  </ng-template>

  <form
    class="formLogin"
    nz-form
    [nzLayout]="'inline'"
    [formGroup]="validateForm"
    (ngSubmit)="submitForm()"
  >
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group nzPrefixIcon="user">
          <input formControlName="userName" nz-input placeholder="Username" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
          <input
            formControlName="password"
            nz-input
            [type]="passwordVisible ? 'text' : 'password'"
            placeholder="Password"
          />
        </nz-input-group>
        <ng-template #suffixTemplate>
          <span
            nz-icon
            [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
            (click)="passwordVisible = !passwordVisible"
          ></span>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" [disabled]="!validateForm.valid">
          Login
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
